<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="registro()" class="ion-padding">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required clearInput></ion-input>
      </ion-item>
      <ion-item lines="none" class="ion-margin-top">
        <ion-label position="stacked" color="primary">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required clearInput></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-text-center ion-margin-top">
      <ion-button expand="block" type="submit" color="primary">Crear cuenta</ion-button>
    </div>
  </form>
</ion-content>