<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista de QR</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of (items | async)">
      <ion-label>
        <h2>{{ item.codigo }}</h2>
        <p>{{ item.status }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="addItem()" expand="block" color="primary">Agregar Clave</ion-button>
</ion-content>
