.image-container {
    text-align: center;
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
  }
  
  .image-container img {
    max-width: 100px; /* Ajusta el tamaño máximo del icono según sea necesario */
    height: auto;
  }